    <p>
     <font size="6">近畿大学</font><br>
     <a href="https://swdev-matuoka.c9users.io/">@kinkidaigakuPR</a>
    </p>
    近畿大学総務部広報室のTwitter公式アカウントです。
    近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。 
    個別DMでのお問い合わせには返信を行っておりませんので、ご了承ください。
    <ul>
      <li>大阪府東大阪市</li>
      <li><a href="https://t.co/93yqCB7Cqv">https://t.co/93yqCB7Cqv</a></li>
      <li>2010年12月に登録</li>
    </ul>
    <div>
     <p class="btn">
       <%= link_to "ツイート", new_tweet_path %>
       <a href="#">メールを送る</a>
     </p>
    </div>