<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" href="app/assets/stylesheet/tweets.scss">
</head>
<body>
  <div id="sidebar">
  </div>

  <div id="content">
    <% @tweets.each do |tweet| %>
<p>
  <table style="border-style: none;" border="1">
<td style="border-style: none;"><a href="#">ツイート　</a></td>
<td style="border-style: none;"><a href="#"><font color="#00CCFF">ツイートと返信　</frnt></a></td>
<td style="border-style: none;"><a href="#"><font color="#00CCFF">メディア</frnt></a></td>
</tr>
</table>
<table style="border-style: none;" border="1">
<td style="border-style: none;"><img src="assets/kindai.png" width="50" height="50" style="border-radius:400px;" ></td>
  <td style="border-style: none;"><a href="https://swdev-matuoka.c9users.io/">近畿大学</a></td>
  <td style="border-style: none;">@kinkidaigakuPR・</td>
  <td style="border-style: none;"><%= (Time.current - tweet.tdate).to_i / 60 %>分前</td>
</table>
  <br>
  <%= tweet.messesge %>
  <br>
  <br>
  <%= link_to '見る',tweet_path(tweet)%>
  <%= link_to '削除', tweet_path(tweet), method: :delete %>
  <%= link_to '編集', edit_tweet_path(tweet) %>
</p>
<hr>
<% end %>
  </div>
  <p>
  Copyright 2018 LIG inc.kinkidaigakuPR
  </p>
</body>

