/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#sidebar {
    width: 300px;
    background-color: #dfdfdf;
    float: left;
    margin: 0px 0px 0px 300px
}

#header {

    width: 100vw;
    margin: 0px 0px 0px 0px
}

a {
    color: #121111;
    text-decoration: none;
}

a:hover {
    color: #00CCFF;
    text-decoration: underline;
}



.btn a {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #00CCFF;
    padding: 7px 20px;
    border-radius: 25px;
}

#content {
    width: 550px;
    float: right;
    margin: 0px 160px 0px 0px
}

.img_ttl {
    overflow: hidden;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.absolute {
    width: 100%;
}

#table {
    border-collapse: collapse;
    border: solid 2px black;
}

#kindai {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 100px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}
