<!DOCTYPE html>
<html>
<head>
  <title>Tw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%=render "header" %>
      <center>
<table style="border-style: none;" border="1">
<td style="border-style: none;">ツイート<br><a href="#">1232</a></td>
<td style="border-style: none;">フォロー<br><a href="#">12352</a></td>
<td style="border-style: none;">フォロワー<br><a href="#">122</a></td>
<td style="border-style: none;">いいね<br><a href="#">12632</a></td>
</tr>
<div class="kindai">
  <img src="assets/kindai.png" width="150" height="150" style="border-radius:400px;" >
</div>
</table>
      </center>
      <hr>
  </div>
  <div id="sidebar">
    <%=render "sidebar" %>
  </div>
  <div id="content">
     <%= yield %>
  </div>
  <div id="footer">
    
    <%=render "footer" %>
  </div>
</body>
</html>
